<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Quizz</span>
    <span class="spacer"></span>
    <div fxHide.gt-sm>
      <button mat-icon-button aria-label="icone de menu" (click)="onToggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <!-- plus propre avec breakpoint
     https://embed.plnkr.co/2IWMsmL3KjKm6owFA3Dj/ -->
    <div fxFlex="grow" fxLayout="row" fxLayoutAlign="end" fxHide.lt-md>
      <ul fxLayout fxLayoutGap="15px" class="navigation-items">
        <li><!-- pipe translate == mieux -->
          <a routerLink="">Accueil</a>
        </li>
        <li>
          <a routerLink="surveys">Les questionnaires !</a>
        </li>
        <li>
          <a routerLink="surveys/create">Crée ton questionnaire !</a>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav #sidenav role="navigation">
  <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
</mat-sidenav>
