<div [formGroup]="surveyForm">
  <div formArrayName="questions">
    <div class="form-group" formGroupName="{{ i }}"
         *ngFor="let question of questions.controls; index as i">
      <div class="new-question">
        <mat-form-field appearance="outline">
          <mat-label>titre de la question n°{{ i + 1}}</mat-label>
          <input formControlName="title" matInput>
          <mat-error *ngIf="surveyForm.get('questions')!.get([i])!.get('title')!.invalid">Il faut plus de 4
            caractères
          </mat-error>
          <mat-error>
            {{ this.questionsTitleTrimValidation(i) }}
          </mat-error>
        </mat-form-field>
        <!-- component step pour réponses-->
        <div class="form-group">
          <app-survey-form-step-questions-answers [index]="i" [questions]="questions"
                                                  [surveyForm]="surveyForm">

          </app-survey-form-step-questions-answers>
        </div>
      </div>
    </div>
    <div class="form-group">
      <button (click)="addQuestion()" mat-raised-button>+ Ajouter une question</button>
    </div>
    <div class="form-group">
      <button class="spacer" mat-raised-button color="primary" type="button" matStepperPrevious>Retour</button>
      <button [disabled]="isNotEnableSurveyAndQuestionsAndAnswers()" mat-raised-button color="primary"
              (click)="onSubmitForm()" type="submit" matStepperNext>Valider le formulaire !
      </button>
    </div>
  </div>
</div>

