<div [formGroup]="surveyForm">
  <div class="form-group">
    <mat-form-field appearance="fill">
      <mat-label>Titre</mat-label>
      <input formControlName="title" matInput placeholder="Ex. super questionnaire !">
      <mat-error *ngIf="surveyForm?.get('title')?.invalid">Il faut plus de 4 caractères</mat-error>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea formControlName="description" matInput placeholder="Ex. super description !"></textarea>
      <mat-error *ngIf="surveyForm?.get('description')?.invalid">Il faut plus de 4 caractères</mat-error>
    </mat-form-field>
  </div>
  <div class="form-group">
    <button [disabled]="isNotEnableSurvey()" mat-raised-button color="primary" type="button" matStepperNext>
      Suivant
    </button>
  </div>
</div>
