<div [formGroup]="surveyForm">
  <div formArrayName="questions">
    <div formGroupName="{{ index }}" class="form-group">
      <div formArrayName="answers">
        <button (click)="addAnswer()" mat-raised-button>+ Ajouter une réponse</button>
        <div formGroupName="{{ iAnswer }}" class="form-group" *ngFor="let answer of answers.controls; index as iAnswer">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>titre de la réponse n°{{ iAnswer }}</mat-label>
            <input formControlName="name" matInput>
            <mat-error *ngIf="surveyForm?.get('questions')?.get([0])?.get('answers')?.get([0])?.get('name')?.invalid">Il
              faut plus de 4
              caractères
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</div>
