<mat-card class="card">
  <mat-card-header>
    <mat-card-title class="text-white">{{ survey.title }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p class="text-white">
      {{ survey.description }}
    </p>
  </mat-card-content>
  <mat-expansion-panel>
    <mat-expansion-panel-header class="specific-class">
      <mat-panel-description class="text-white">
        Les questions
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div *ngFor="let question of survey.questions">
      <p class="text-white">{{ question.title }}</p>
    </div>
  </mat-expansion-panel>
</mat-card>
